// AudioItem

.audio-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px;
  background-image: linear-gradient(
      90deg,
      rgb(193, 193, 193),
      rgb(107, 107, 107)
    ),
    linear-gradient(
      157.5deg,
      rgb(0, 165, 230) 0%,
      rgb(0, 165, 230) 39%,
      rgb(17, 149, 218) 39%,
      rgb(17, 149, 218) 56%,
      rgb(35, 132, 206) 56%,
      rgb(35, 132, 206) 60%,
      rgb(52, 116, 195) 60%,
      rgb(52, 116, 195) 68%,
      rgb(70, 99, 183) 68%,
      rgb(70, 99, 183) 86%,
      rgb(87, 83, 171) 86%,
      rgb(87, 83, 171) 100%
    ),
    linear-gradient(
      135deg,
      rgb(0, 165, 230) 0%,
      rgb(0, 165, 230) 39%,
      rgb(17, 149, 218) 39%,
      rgb(17, 149, 218) 56%,
      rgb(35, 132, 206) 56%,
      rgb(35, 132, 206) 60%,
      rgb(52, 116, 195) 60%,
      rgb(52, 116, 195) 68%,
      rgb(70, 99, 183) 68%,
      rgb(70, 99, 183) 86%,
      rgb(87, 83, 171) 86%,
      rgb(87, 83, 171) 100%
    );
  background-blend-mode: overlay, overlay, normal;
  border-radius: 5px !important;

  .audio-info {
    overflow: hidden;
    width: 100%;

    .audio-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .audio-progress {
      width: 100%;
      align-self: center;
    }
  }

  .audio-actions {
    text-decoration: none;
    padding: 5px;
    margin: 0 5px;
  }
}
