.body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  min-width: 360px;
}

.container {
  max-width: 1564px;
  min-width: 328px;
  padding: 0 16px;
  margin: 0 auto;
}

.app {
  background-color: black;
}

.second_fonts {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.image-response {
  max-width: 100%;
  height: auto;
}
