.body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  min-width: 360px;
}

.container {
  max-width: 1532px;
  min-width: 288px;
  padding: 0 16px;
  margin: 0 auto;
}

.second_fonts {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.image-response {
  max-width: 100%;
  height: auto;
}

.app {
  background: linear-gradient(135deg, rgb(169, 169, 169), rgb(41, 41, 41)),
    linear-gradient(
      22.5deg,
      rgb(84, 190, 204) 0%,
      rgb(84, 190, 204) 19%,
      rgb(89, 172, 188) 19%,
      rgb(89, 172, 188) 20%,
      rgb(94, 154, 171) 20%,
      rgb(94, 154, 171) 22%,
      rgb(99, 136, 155) 22%,
      rgb(99, 136, 155) 31%,
      rgb(105, 117, 138) 31%,
      rgb(105, 117, 138) 33%,
      rgb(110, 99, 122) 33%,
      rgb(110, 99, 122) 45%,
      rgb(115, 81, 105) 45%,
      rgb(115, 81, 105) 51%,
      rgb(120, 63, 89) 51%,
      rgb(120, 63, 89) 100%
    ),
    linear-gradient(
      45deg,
      rgb(84, 190, 204) 0%,
      rgb(84, 190, 204) 19%,
      rgb(89, 172, 188) 19%,
      rgb(89, 172, 188) 20%,
      rgb(94, 154, 171) 20%,
      rgb(94, 154, 171) 22%,
      rgb(99, 136, 155) 22%,
      rgb(99, 136, 155) 31%,
      rgb(105, 117, 138) 31%,
      rgb(105, 117, 138) 33%,
      rgb(110, 99, 122) 33%,
      rgb(110, 99, 122) 45%,
      rgb(115, 81, 105) 45%,
      rgb(115, 81, 105) 51%,
      rgb(120, 63, 89) 51%,
      rgb(120, 63, 89) 100%
    );
  background-blend-mode: overlay, overlay, normal;
  display: flex;
  color: white;
  height: 100vh;

  .app-content {
    flex-grow: 1;
    padding: 5px;
    overflow-y: auto;
  }
}

.albums-list-container {
  overflow: auto;
}
