.body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  min-width: 360px;
}

.container {
  max-width: 1532px;
  min-width: 288px;
  padding: 0 16px;
  margin: 0 auto;
}

.second_fonts {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.image-response {
  max-width: 100%;
  height: auto;
}

.app {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
}