:root {
  --black: #000000;
  --dark: #060f42;
  --medium-dark: #07145a;
  --medium-darker: #03092d;
  --white: #ffffff;
  --action-primary: #06a56c;
  --soft: #f4f8fb;
  --gentle-gray: #e6e6e6;
  --grey: #cdcdcd;
  --accenty-red: #e93232;
  --some-1: #d9d9d9;
  --dark-grey: #333;
  --light-grey: #999;
  --defaults-white: #fff;
  --grays-400-middle-grey: #9a9ea5;
  --action-secondary: #01579b;
  --gray-scale-10: #e6e6e6;
  --gray-scale-60: #666;
  --rating-color: #ffd300;
}
